@import "bootstrap";

.c-gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    width: 256px;
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin: 1rem;
    overflow: hidden;
    text-align: center;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__link {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }

  &__image {
    padding: 1rem;
  }

  &__text{
     padding: .5rem;
  }

}