---
layout: article
sidebar:
 - 1
toc: false
---

{{content}}

<script>
  window.addEventListener("databookloaded", () => {
  databook.event.addEventListener("dynamicloaded", () => {
    let nav = databook.dynamic.config.navigation;
    let html = '<div>';
    for(let group of nav) {
      if(!group.text) continue;
      html += `<h3>${group.text}</h3><div class="c-gallery c-gallery--small">`;
      for(let item of group.items) {
        let icon = (item.icon ?? group.default_icon) ? `<i class=" fas fa-${item.icon ?? group.default_icon} fa-fw"></i>` : '<img src="/assets/icon.png" />';
        html += `<div class="c-gallery__item">
    <a class="c-gallery__link" href="${item.url}">
      <div class="c-gallery__image">${icon}</div>
      <div class="c-gallery__text">${item.title}</div>
    </a>
  </div>`;
      }
      html += '</div>';
    }
    html += '</div>';
    document.querySelector('.l-page__content').innerHTML += html;
  });
  });
</script>